In [28]:
import csv
import sys

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

import pandas as pd

file = pd.read_csv('shopping.csv')

month = {'Jan':0, 'Feb':1, 'Mar':2, 'Apr':3, 'May':4, 'June':5, "Jul":6, 'Aug':6, 'Sep':8, 'Oct':9, 'Nov':10, 'Dec':11}
vis = {'Returning_Visitor':1,'New_Visitor':0 }

file['Month'] = file['Month'].map(month)
file['VisitorType'] = file['VisitorType'].map(lambda x : 1 if x=='Returning_Visitor' else 0 )
file['Weekend'] = file['Weekend'].map(lambda x : 1 if x==True else 0 )
file['Revenue'] = file['Revenue'].map(lambda x : 1 if x==True else 0 )

display(file)


nums = ['Administrative','Informational','ProductRelated','Month','OperatingSystems','Browser','Region','TrafficType','VisitorType','Weekend']

doubles = ['Administrative_Duration','Informational_Duration','ProductRelated_Duration','BounceRates','ExitRates','PageValues','SpecialDay']

print(file['Month'].unique())

'''
for v in nums:
    if file[v].dtype != 'int64':
        file = file.astype({v: 'int64'})
    else:
        continue
for v in doubles:
    if file[v].dtype != 'float64':
        file = file.astype({v:'float64'})
    else:
        continue
'''

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,1.0,1,1,1,1,1,0,0
1,0,0.0,0,0.0,2,64.000000,0.000000,0.100000,0.000000,0.0,1.0,2,2,1,2,1,0,0
2,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,1.0,4,1,9,3,1,0,0
3,0,0.0,0,0.0,2,2.666667,0.050000,0.140000,0.000000,0.0,1.0,3,2,2,4,1,0,0
4,0,0.0,0,0.0,10,627.500000,0.020000,0.050000,0.000000,0.0,1.0,3,3,1,4,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,3,145.0,0,0.0,53,1783.791667,0.007143,0.029031,12.241717,0.0,11.0,4,6,1,1,1,1,0
12326,0,0.0,0,0.0,5,465.750000,0.000000,0.021333,0.000000,0.0,10.0,3,2,1,8,1,1,0
12327,0,0.0,0,0.0,6,184.250000,0.083333,0.086667,0.000000,0.0,10.0,3,2,1,13,1,1,0
12328,4,75.0,0,0.0,15,346.000000,0.000000,0.021053,0.000000,0.0,10.0,2,2,3,11,1,0,0
12329,0,0.0,0,0.0,3,21.250000,0.000000,0.066667,0.000000,0.0,10.0,3,2,1,2,0,1,0

[ 1.  2.  4.  9.  5. nan  6. 10.  8. 11.]

"\nfor v in nums:\n    if file[v].dtype != 'int64':\n        file = file.astype({v: 'int64'})\n    else:\n        continue\nfor v in doubles:\n    if file[v].dtype != 'float64':\n        file = file.astype({v:'float64'})\n    else:\n        continue\n"